{% extends "base.html" %}
{% block title %}单词列表{% endblock %}
{% block head %}{% endblock %}
{% block nav %}
<li>
    <a href="/index">主页</a>
</li>
<li class="active">
    <a href="/mark/word_list/">单词列表</a>
</li>
<li>
    <a href="/data/">数据管理</a>
</li>
<li>
    <a href="/help/">帮助</a>
</li>
{% endblock %}

{% block content %}

<label>单词总数:{{word_list_count}}</label>

<ul class="list-group">
    {% for word in word_list %}
    <li class="list-group-item">
        <!--当前状态-->
        {% if word.is_known == 1 %}
            <span class="badge">认识</span>
            <a type="button" class="btn btn-primary btn-xs badge" href="/mark/word_list_mark_is_known/{{word.id}}/2">不认识</a>
        {% elif word.is_known == 2 %}
            <a type="button" class="btn btn-primary btn-xs badge" href="/mark/word_list_mark_is_known/{{word.id}}/1">认识</a>
            <span class="badge">不认识</span>
        {% elif word.is_known == 0 %}
            <span class="badge">未设置</span>
            <a type="button" class="btn btn-primary btn-xs badge" href="/mark/word_list_mark_is_known/{{word.id}}/1">认识</a>
            <a type="button" class="btn btn-primary btn-xs badge" href="/mark/word_list_mark_is_known/{{word.id}}/2">不认识</a>
        {% endif %}

        <a href="/mark/word_detail/{{word.id}}">{{word.word}}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}

{% block footer %}
{% endblock%}
